section.about
	.container
		+blockBox("what we do", "Story about us", "lorem lorem loren lorem lorem lorem lorem lorem lorem lorem Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.")
		.about-list 
			+aboutItem("https://tse2.mm.bing.net/th?id=OIP.rrm3wOOIPKVx9UVVxdpTbAHaEK&pid=Api&P=0", "I'm Tuấn", "fa fa-users")
			+aboutItem("https://tse2.mm.bing.net/th?id=OIP.tNPofGMTHTZtOIWbv9R-lwAAAA&pid=Api&P=0", "I'm Tuấn", "fa fa-users")
			+aboutItem("https://tse3.mm.bing.net/th?id=OIP.6DqvXv95E3zoz-ve7J9YrgAAAA&pid=Api&P=0", "I'm Tuấn", "fa fa-users")
			+aboutItem("https://tse4.mm.bing.net/th?id=OIP.RWYEIGKgQGsjrUbV0AP_CgHaNK&pid=Api&P=0", "I'm Tuấn", "fa fa-users")
			+aboutItem("https://tse2.mm.bing.net/th?id=OIP.xPFFqLn7wCOiXje15XZzFQHaEo&pid=Api&P=0", "I'm Tuấn", "fa fa-users")
			+aboutItem("https://tse2.mm.bing.net/th?id=OIP.QwQRfrb1tKMGjR5lFQWYvgHaEK&pid=Api&P=0", "I'm Tuấn", "fa fa-users")

		.light-box 
			.light-box-overlay 
				img.light-box-img(src="https://tse2.mm.bing.net/th?id=OIP.rrm3wOOIPKVx9UVVxdpTbAHaEK&pid=Api&P=0")
				i.fa.fa-arrow-left.light-box-prev
				i.fa.fa-arrow-right.light-box-next