section.block
    .container 
        +blockBox("Our stories", " Latest block")
        .block-list 
            .block-item
                .block-media
                    img.block-img(src="../images/img-blog1.png", alt="")
                    .block-date 
                        span.block-date-number 15
                        span.block-date-text Jan
                .block-content 
                    h3.block-heading Lorem ipsum, dolor sit amet consectetur
                    .block-desc 
                         p.block-inner Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque debitis quisquam non cum rem officiis pariatur, magni repellat expedita, quos eos optio repudiandae odio voluptatibus consectetur, dolorem accusamus culpa ipsum.
                .block-meta 
                    .block-meta-item
                        i.fa.fa-eye.block-meta-icon 
                        span.block-meta-text 524
                    .block-meta-item
                        i.fa.fa-comment.block-meta-icon 
                        span.block-meta-text 17
            .block-item
                .block-media
                    img.block-img(src="../images/img-blog1.png", alt="")
                    .block-date 
                        span.block-date-number 15
                        span.block-date-text Jan
                .block-content 
                    h3.block-heading Lorem ipsum, dolor sit amet consectetur
                    .block-desc 
                         p.block-inner Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque debitis quisquam non cum rem officiis pariatur, magni repellat expedita, quos eos optio repudiandae odio voluptatibus consectetur, dolorem accusamus culpa ipsum.
                .block-meta 
                    .block-meta-item
                        i.fa.fa-eye.block-meta-icon 
                        span.block-meta-text 524
                    .block-meta-item
                        i.fa.fa-comment.block-meta-icon 
                        span.block-meta-text 17
            .block-item
                .block-media
                    img.block-img(src="../images/img-blog1.png", alt="")
                    .block-date 
                        span.block-date-number 15
                        span.block-date-text Jan
                .block-content 
                    h3.block-heading Lorem ipsum, dolor sit amet consectetur
                    .block-desc 
                         p.block-inner Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque debitis quisquam non cum rem officiis pariatur, magni repellat expedita, quos eos optio repudiandae odio voluptatibus consectetur, dolorem accusamus culpa ipsum.
                .block-meta 
                    .block-meta-item
                        i.fa.fa-eye.block-meta-icon 
                        span.block-meta-text 524
                    .block-meta-item
                        i.fa.fa-comment.block-meta-icon 
                        span.block-meta-text 17
    

section.map 
    .container 
        .map-content 
            img.map-icon(src= "../images/img-map-icon.png")
            h3.map-text Open map