section.footer 
    .container
        .row
            .col.l-5.m-12.c-12
                .footer-item
                    img.footer-logo(src= "../images/img-footer-logo.png" alt="Logo")
                    p.footer-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, voluptatem veniam. Dolorum vel accusamus praesentium nesciunt aliquam consequatur quod blanditiis ad nobis magni, dolore autem vero quasi ullam. Ex, possimus.
                    h3.footer-followers <strong>15K</strong> Followers
                    .footer-socical    
                        span.footer-socical-heading Follow us:
                        .footer-socical-list 
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                            a.footer-socical-link(href="#")
                                i.footer-socical-icon.fab.fa-facebook
                    form.footer-form(action="")
                        input.footer-form-input(type="email" placeholder="Your Email")
                        button.footer-form-btn Subscribe
            .col.l-4.m-12.c-12
                .footer-item
                    h3.footer-heading Blogs 
                    .footer-blog
                        img.footer-blog-img(src="../images/img-blogs1.png")
                        .footer-blog-content 
                            h3.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit
                            span.footer-blog-time Jan 9, 2016
                    .footer-blog
                        img.footer-blog-img(src="../images/img-blogs1.png")
                        .footer-blog-content 
                            h3.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit
                            span.footer-blog-time Jan 9, 2016
                    .footer-blog
                        img.footer-blog-img(src="../images/img-blogs1.png")
                        .footer-blog-content 
                            h3.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit
                            span.footer-blog-time Jan 9, 2016
            .col.l-3.m-12.c-12
                .footer-item
                    h3.footer-heading Instagram
                    .footer-images 
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                        .footer-image 
                            img(src="../images/img-instagram1.png")
                    .footer-text Wiev more photos
section.author 
    .container 
        p.author-text @ 2022 MoGo free GPS template by <span>Tuấn Trần</span>