//- trong html5 thẻ section dùng để khai báo các vị trí của một trang web
section.number 
    .container
        .number-list 
            .number-item 
                h4.number-item-count 42
                .number-item-text Web design
            .number-item 
                h4.number-item-count 123
                .number-item-text Happy client
            .number-item 
                h4.number-item-count 15
                .number-item-text Award winner
            .number-item 
                h4.number-item-count 99
                .number-item-text Cup of coffee
        