section.quote
	.container 
		.quote-container
			//- i.fal.fa-angle-left.quote-arrow-left
			.quote-item 
				.quote-icon
					img(src ="../images/img-quote.png")
				.quote-info 
					.quote-desc 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus perspiciatis velit eum, veniam molestias officiis maxime iusto totam corporis aliquam vel molestiae voluptatem tempora nulla dolor! Est dolore autem sint.
					.quote-author Tuấn Trần
			.quote-item 
				.quote-icon
					img(src ="../images/img-quote.png")
				.quote-info 
					.quote-desc 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus perspiciatis velit eum, veniam molestias officiis maxime iusto totam corporis aliquam vel molestiae voluptatem tempora nulla dolor! Est dolore autem sint.
					.quote-author Tuấn Trần
			.quote-item 
				.quote-icon
					img(src ="../images/img-quote.png")
				.quote-info 
					.quote-desc 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus perspiciatis velit eum, veniam molestias officiis maxime iusto totam corporis aliquam vel molestiae voluptatem tempora nulla dolor! Est dolore autem sint.
					.quote-author Tuấn Trần
			//- i.fal.fa-angle-right.quote-arrow-right
		