section.team 
	.container 
		+blockBox("WHo we are", "Meet our team", "ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis commodi deserunt similique magni velit, nulla sint rem, vero, soluta expedita atque nisi? Molestiae maxime dolorum dolorem temporibus, ipsam excepturi.")
		.team-list 
			+teamItem("../images/img-team1.png", "Trần Văn Tuấn", "Thực tập sinh")
				+teamSocical()
			+teamItem("../images/img-team2.png", "Trần Văn Tuấn", "Thực tập sinh")
				+teamSocical()
			+teamItem("../images/img-team3.png", "Trần Văn Tuấn", "Thực tập sinh")
				+teamSocical()

section.brands 
	.container
		img.brands-img(src= "../images/img-logos.png")