section.wedo
    .container 
        +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi corrupti ex, reprehenderit quidem, cumque quaerat est nemo enim, porro esse libero repellat animi? Sed consequuntur, nemo vel ullam corrupti sint.")
        .wedo-container 
            img.wedo-img(src= "../images/img-wedo.png")
            .wedo-content
                .wedo-item.is-active
                    .wedo-item-header 
                        img.wedo-item-img(src="../images/img-wedo-icon1.png")
                        h3.wedo-item-title Photography
                        i.wedo-item-icon.fa.fa-chevron-down
                    .wedo-item-content 
                        p.wedo-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, id nostrum dolorum a esse ducimus impedit eveniet explicabo at, corporis praesentium facere ex corrupti enim eos iure labore adipisci! Repellendus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At vel explicabo, officia recusandae iusto, hic, est rerum dolores ex in eligendi qui nulla impedit suscipit temporibus. Dolorum et quae obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos delectus voluptate aliquid tempore. Iure sapiente aspernatur nam assumenda quam, ducimus voluptas quod facere optio hic veritatis earum aliquam fugiat nobis?
                .wedo-item 
                    .wedo-item-header 
                        img.wedo-item-img(src="../images/img-wedo-icon2.png")
                        h3.wedo-item-title Creativity
                        i.wedo-item-icon.fa.fa-chevron-up
                    .wedo-item-content 
                        p.wedo-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, id nostrum dolorum a esse ducimus impedit eveniet explicabo at, corporis praesentium facere ex corrupti enim eos iure labore adipisci! Repellendus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At vel explicabo, officia recusandae iusto, hic, est rerum dolores ex in eligendi qui nulla impedit suscipit temporibus. Dolorum et quae obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos delectus voluptate aliquid tempore. Iure sapiente aspernatur nam assumenda quam, ducimus voluptas quod facere optio hic veritatis earum aliquam fugiat nobis?
                .wedo-item 
                    .wedo-item-header 
                        img.wedo-item-img(src="../images/img-wedo-icon3.png")
                        h3.wedo-item-title Web design
                        i.wedo-item-icon.fa.fa-chevron-up
                    .wedo-item-content 
                        p.wedo-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, id nostrum dolorum a esse ducimus impedit eveniet explicabo at, corporis praesentium facere ex corrupti enim eos iure labore adipisci! Repellendus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At vel explicabo, officia recusandae iusto, hic, est rerum dolores ex in eligendi qui nulla impedit suscipit temporibus. Dolorum et quae obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos delectus voluptate aliquid tempore. Iure sapiente aspernatur nam assumenda quam, ducimus voluptas quod facere optio hic veritatis earum aliquam fugiat nobis?