section.work 
    +blockBox("What we do", "Some of our work", "ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium, esse labore aspernatur a facere dolore sed, vero neque nobis soluta et officia nemo porro doloremque hic asperiores fuga voluptas.")
    .row.no-gutters.work-list
        .col.l-3.m-6.c-12
            +workItem()
            +workItem("../images/img-work2.png")
        .col.l-3.m-6.c-12 
            +workItem("../images/img-work3.png")
            +workItem("../images/img-work4.png")
        .col.l-3.m-6.c-12
            +workItem("../images/img-work5.png","../images/img-work-icon.png", "Trần Văn Tuấn", "work-item-full")
        .col.l-3.m-6.c-12
            +workItem("../images/img-work6.png")
            +workItem("../images/img-work7.png")
    
    